<div ng-controller="LossesCtrl as Losses">
    <table id="searchTextResults">
    <tr>
        <th>Victim</th>
        <th>Alliance</th>
        <th>Corp</th>
        <th>Ship type</th>
        <th>Isk Loss</th>
        

    </tr>

    Search: <input ng-model="searchText">

    <tr ng-repeat="kill in Losses.kills | filter:searchText">
        <td>{{kill.victim.characterName}}</td>
        <td>{{kill.victim.allianceName}}</td>
        <td>{{kill.victim.corporationName}}</td>
        <td>{{kill.zkb.shipTypeID}}
        <td>{{kill.zkb.totalValue | number : 0}}</td>
    </tr>
</table>
</div>


