<!-- kills.html -->

<!--<div ng-controller="LossesCtrl as Losses">

    <killmail></killmail>

    <table class="table table-striped kills" id="searchTextResults">
        <tr>
            <th>Victim</th>
            <th>Alliance</th>
            <th>Corp</th>
            <th>Ship type</th>
            <th>Isk Loss</th>
        </tr>

        Search:
        <input ng-model="searchText">

        <tr ng-repeat="kill in Losses.alliance | filter:searchText">
            <td class="Character">
                <img ng-src="https://image.eveonline.com/Character/{{kill.victim.characterID}}_64.jpg">{{kill.victim.characterName}}</td>
            <td class="Alliance">
                <img ng-src="https://image.eveonline.com/Alliance/{{kill.victim.allianceID}}_64.png">{{kill.victim.allianceName}}</td>
            <td class="Corp">
                <img ng-src="https://image.eveonline.com/Corporation/{{kill.victim.corporationID}}_64.png">{{kill.victim.corporationName}}</td>
            <td class="Ship-type">
                <img ng-src="https://image.eveonline.com/Render/{{kill.victim.shipTypeID}}_64.png">{{Losses.typeNames[kill.victim.shipTypeID].name}}</td>
            <td>{{kill.zkb.totalValue | number : 0}}</td>
        </tr>
    </table>
</div>-->

<div class="jumbotron text-center">
    <h1>The Homey Page</h1>
    <p>This page demonstrates <span class="text-danger">nested</span> views.</p>

    <a ui-sref=".pilotStats" class="btn btn-primary">Pilot Stats</a>
    <a ui-sref=".killmail" class="btn btn-danger">Killmails</a>
</div>

<div ui-view></div>