<!-- pilotStats.html -->

<div>
    <table class="table table-striped kills" id="searchTextResults">
        <tr>
            <th>Victim</th>
            <th>Alliance</th>
            <th>Corp</th>
            <th>Ship type</th>
            <th>Isk Loss</th>
            <th>System</th>
        </tr>
        
        <div> Search: </div>
        <input ng-model="searchText">

        <tr ng-repeat="kill in PilotStats.pilot">
            <td class="Character">
                <img ng-src="https://image.eveonline.com/Character/{{kill.victim.characterID}}_32.jpg">{{kill.victim.characterName}}</td>
            <td class="Alliance">
                <img ng-src="https://image.eveonline.com/Alliance/{{kill.victim.allianceID}}_32.png">{{kill.victim.allianceName}}</td>
            <td class="Corp">
                <img ng-src="https://image.eveonline.com/Corporation/{{kill.victim.corporationID}}_32.png">{{kill.victim.corporationName}}</td>
            <td class="Ship-type">
                <img ng-src="https://image.eveonline.com/Render/{{kill.victim.shipTypeID}}_32.png">{{PilotStats.typeNames[kill.victim.shipTypeID].name}}</td>
            <td>{{kill.zkb.totalValue | number : 0}}</td>
            <td class="System"> {{PilotStats.systems.solarSystem.items[kill.solarSystemID].name}} </td>
        </tr>
    </table>
</div>
